@import './normalize';
@import './mediaqueries';
@import './variables';
@import './typography';

body {
    height: 100%;
    width: 100%;
}

body p,
body li {
    font-family: 'Montserrat', sans-serif;
    font-size: rem(16);
    font-weight: 400;
    line-height: 26px;
}

a { text-decoration: none; }

.site-container {
    width: 100%;
    max-width: 90%;
    margin-left: auto;
    margin-right: auto;
}

.fade-in { animation: fadein 1s; }
.fade-out { animation: fadein 1s; }

@keyframes fadein {
    from { opacity: 0; }
    to   { opacity: 1; }
}

@keyframes fadeout {
    from { opacity: 1; }
    to   { opacity: 0; }
}

.indented { text-indent: -9999px; }
.flex { display: flex; }
